*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --word-size : 45px;
    --word-padding: 5.7px;
    --primary: #28ae60;

    
    
    --commonColor-h: 225;
    --commonColor-s: 5%;
    --commonColor-l: 16%;

    --commonColor: hsl(var(--commonColor-h), var(--commonColor-s), var(--commonColor-l));

    --othercommonColor-l: calc(var(--commonColor-l) * 1.2 );
    --textColor-l : calc(var(--commonColor-l) * 2.2 );
    --leaderBoard : calc(var(--commonColor-l) * 3.5 );
    --paggination : 90%;
    --tableRow : calc(var(--commonColor-l) * 0.85 );
}


body{
    background-color: var(--commonColor);
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
}

ul{
    list-style: none;
}
.pagginatio-number{
    display: flex;
}

.container{
    max-width: 1140px;
    margin: auto;
    height: 100vh;
}

.content{
    padding: 40px 24px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

a:not(.leaderboard,.logo-con){
    background: var(--primary);
    padding: 10px 16px;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
}
.time-sec{
    display: flex;
    justify-content: space-between;
}
.header{
    padding: 20px 0;
}
.leaderboard > svg{
    color: hsl(var(--commonColor-h), var(--commonColor-s), var(--paggination));
    margin-top: 7px;
    margin-left: 15px;
}

.main{
    padding: 30px 0;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.para{
    color: hsl(var(--commonColor-h), var(--commonColor-s), var(--textColor-l));
    font-size: 24px;
    line-height: 140%;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    text-transform: lowercase;
}

.para-container{
    height: calc(var(--word-size) * 4);
    overflow: hidden;
    position: relative;
    margin-top: 16px;
    margin-bottom: 40px;
}
.para-container:focus .show-key{
    background: hsl(var(--commonColor-h), var(--commonColor-s), var(--textColor-l));
}

.word{
    padding: var(--word-padding);
}

.right{
    color:white;
}

.wrong{
    color: #ca4754;
}

.extra{
    color: #7e2a33;
}

.restart-after-win,.restart{
    text-transform: capitalize;
    border: none;
    background: hsl(var(--commonColor-h), var(--commonColor-s), var(--textColor-l));
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms linear;
    display: inline-block;
}
.restart-after-win{
    width: 100%;
    background: hsl(var(--commonColor-h), var(--commonColor-s), var(--othercommonColor-l));
    color: hsl(var(--commonColor-h), var(--commonColor-s), var(--paggination));
}

.restart-after-win>svg,.restart>svg{
    width: 23px;
    color: hsl(var(--commonColor-h), var(--commonColor-s), var(--paggination));
    transition: all 300ms linear;
}

.line,.line-for-bot{
    position: fixed;
    width:2px;
    height: 30px;
    background: var(--primary);
    transition: all 100ms linear;
    z-index: 10;
}

.line-for-bot{
    position: absolute;
    transition: all 150ms linear;
    background: hsl(var(--commonColor-h), var(--commonColor-s), var(--textColor-l));
    z-index: 9;
}

.line-animation{
    animation: line-anim 1500ms forwards infinite;
}

@keyframes line-anim{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.time{
    color: var(--primary);
    font-size: 20px;
}

.result-container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: hsl(var(--commonColor-h), 90%, 8%);
    transition: all 500ms linear;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    z-index: 9999;
    backdrop-filter: blur(2px);
    padding: 40px;
}

.details{
    width: 30%;
    padding-right: 20px;
}


.hidden{
    opacity: 0;
    visibility: hidden;
    display: none;
}

.wpm,.raw-wpm{
    color:  hsl(var(--commonColor-h), var(--commonColor-s), var(--leaderBoard));
    font-size: 30px;
}

.result,.acurracy,.raw-result{
    color: var(--primary);
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 20px;
}

.slect-time-div{
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

.time-zone{
    display: flex;
    align-items: center;
}

.bot-speed{
    color: var(--primary);
    font-size: 20px;
}
.bot-remove-btn,.bot-save-btn{
    background: hsl(var(--commonColor-h), var(--commonColor-s), 15%);
    margin-top: 16px;
    border: none;
    color: hsl(var(--commonColor-h), var(--commonColor-s), var(--paggination));
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

.w-half{
    width: 50%;
    padding:0 16px;
}
.wpm-result-per-sec{
    margin-left: 40px;
    font-size: 20px;
    color: var(--primary);
}

.slect-time{
    display: inline-flex;
    background-color: hsl(var(--commonColor-h), var(--commonColor-s), var(--othercommonColor-l));
    color: hsl(var(--commonColor-h), var(--commonColor-s), var(--textColor-l));
    border-radius: 7px;
    padding: 10px 16px;
    font-size: 13px;
}
.slect-time>div{
    margin: 0 15px;
}
.times{
    cursor: pointer;
}
.times:hover{
    color: var(--primary);
}

.times.active{
    color: var(--primary);
}

textarea{
    width: 100%;
    background: transparent;
    outline: none;
    color: var(--primary);
    padding: 16px;
    font-size: 22px;
    border: 2px solid var(--primary);
}

.the-text{
    padding: 20px 0;
    text-align: center;
    color: hsl(var(--commonColor-h), var(--commonColor-s), var(--leaderBoard))
}

.wrong-word{
    text-decoration: underline;
    text-decoration-color: #ca4754;
    text-decoration-style: solid;
    text-decoration-thickness: 1.5px;
}

.type-input,.pop-up-input,.autobot-input{
    width: 60%;
    padding: 10px 16px;
    outline: none;
    background: transparent;
    border: none;
    color: hsl(var(--commonColor-h), var(--commonColor-s), var(--leaderBoard));
    font-size: 17px;
    border-radius: 4px;
    border: 2px solid hsl(var(--commonColor-h), var(--commonColor-s), var(--textColor-l));
}

.restart-con{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.details-div{
    width: 100%;
    padding-bottom: 16px;
}
.chart-div{
    width: 70%;
}

.chart{
    width: 100%;
}

.chart >div{
    width: 100%;
}
.logo{
    width: 30px;
    color: var(--primary);
}
.more-details{
    color:  hsl(var(--commonColor-h), var(--commonColor-s), var(--textColor-l));
    padding: 10px 30px;
    display: inline-flex;
    list-style: none;
    border-radius: 5px;
    gap: 30px;
}

.name-input{
    display: block;
    background: none;
    padding: 10px 16px;
    margin-bottom: 20px;
    width: 100%;
    outline: none;
    border: 2px hsl(var(--commonColor-h), var(--commonColor-s), var(--textColor-l)) solid;
    color: white;
}

.name-input::placeholder{
    color: hsl(var(--commonColor-h), var(--commonColor-s), var(--leaderBoard));
}
.leaderboard{
    background: none;
}
.leaderboard>img{
    width: 18px;
    margin-right: 3px;
}
nav{
    display: flex;
    align-items: center;
}

.app-name{
    color: hsl(var(--commonColor-h), var(--commonColor-s), var(--paggination));
    font-size: 22px;
    margin-left: 15px;
}

.logo-con{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.rank-title{
    color: hsl(var(--commonColor-h), var(--commonColor-s), var(--leaderBoard));
    font-size: 24px;
}
.rank-time{
    color: hsl(var(--commonColor-h), var(--commonColor-s), var(--leaderBoard));
    margin-top: 20px;
}

th{
    color: hsl(var(--commonColor-h), var(--commonColor-s), var(--textColor-l));
    text-align: left;
    padding: 10px 10px;
}
table{
    width: 100%;
    white-space: nowrap;
}
tbody tr td{
    padding: 10px 10px;
}

tbody tr{
    color: white;
}

tbody tr:nth-child(2n+1){
    background: hsl(var(--commonColor-h), var(--commonColor-s), var(--tableRow));
}
.no-data{
    text-align: center;
    color: hsl(var(--commonColor-h), var(--commonColor-s), var(--textColor-l));
}

.delete-btn{
    width: 17px;
    cursor: pointer;
    background: none;
    color: white;
    border: none;
}
.delete-btn > svg{
    width: 100%;
}
.text-center{
    text-align: center;
}

.td-max{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.confirm-delete{
    position: fixed;
    inset: 0;
    background: #2c2e31b2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    transition: all 300ms linear;
}

.input-container{
    background: hsl(var(--commonColor-h), var(--commonColor-s), 9%);
    padding: 50px;
    position: relative;
}
.input-field{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.hide{
    opacity: 0;
    pointer-events: none;
    transition: all 400ms linear;
}

.input-field > input{
    background: none;
    border: none;
    border: 2px solid hsl(var(--commonColor-h), var(--commonColor-s), var(--othercommonColor-l));
    padding: 10px 16px;
    outline: none;
    color: white;
}
.input-field > input::placeholder{
    color:  hsl(var(--commonColor-h), var(--commonColor-s), var(--paggination));
    text-transform: capitalize;
}

.input-field >button{
    background: hsl(var(--commonColor-h), var(--commonColor-s), var(--othercommonColor-l));
    width: 40px;
    display: inline-block;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.input-field >button > svg{
    width: 20px;
    color: white;
}

.error-msg{
    color: #7e2a33;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.pop-up-error,.autobot-error{
    color: #ca1f30;
    font-size: 13px;
}
.error-msg.hide{
    display: none;
}
.user-name{
    position: absolute;
    bottom: 100%;
    padding-bottom: 12px;
    left: 0%;
    color: white;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;    
    text-overflow: ellipsis;
}

.table-container{
    margin-top: 30px;
}

.table-container > table > thead {
    position: sticky;
    top: 0;
    background-color: var(--commonColor);
}

.paggination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.paggination button{
    margin: 0 8px;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
}

.dim{
    filter: brightness(0.6);
    cursor: not-allowed !important;
}

.pagg-num-active{
    cursor: not-allowed !important;
    background: var(--primary);
    color: white;
}

.active-td{
    background: var(--primary) !important;
}

.first-list-btn > svg ,.last-list-btn > svg{
    width: 16px;
    color: white;
}
.first-list-btn,.last-list-btn{
    padding: 0px !important;
    background: none;
}

.crown{
    width: 16px;
}

.primary-color{
    display: flex;
    flex-wrap: wrap;
}
.p-color,.bg-color{
    width: 50px;
    height: 25px;
    cursor: pointer;
}

.color-change{
    position: fixed;
    top: 50%;
    right: 0;
    background-color: white;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.bring-color{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
}
.all-color{
    background: white;
    width: 200px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100%;
    margin-right: 16px;
    height: 0;
    overflow: hidden;
    transform-origin: center;
    transition: all 150ms ease;
}

.p-4{
    padding: 16px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
}

.color-con{
    width: auto;
    padding:  0 4px;
    margin-top: 8px;
}
.p-color-chang,.bg-color-chang{
    width: 100%;
    height: 32px;
    margin-top: 16px;
    border: none;
    cursor: pointer;
}

.setting{
    animation: spin 1000ms linear infinite;
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}

.caps-lock{
    background-color: var(--primary);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    top: 50px;
    align-items: center;
    color: white;
    padding: 16px 20px;
    border-radius: 5px;
}

.caps-lock >svg{
    width: 20px;
    margin-right: 10px;
}

.custom-time > svg,.auto-bot > svg{
    width: 16px;
    color: white;
    cursor: pointer;
}

.custom-time-pop-up,.auto-bot-pop-up{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.671);
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.pop-up-div,.auto-bot-pop-up-div{
    width: 400px;
    background-color: hsl(var(--commonColor-h), var(--commonColor-s), var(--commonColor-l));
    color: hsl(var(--commonColor-h), var(--commonColor-s), var(--textColor-l));
    border-radius: 5px;
    padding: 32px;
}

.text-center{
    text-align: center;
}

.pop-up-div label,.auto-bot-pop-up-div label{
    display: block;
    margin-bottom: 15px;
    margin-top: 20px;
}
.pop-up-input,.autobot-input{
    width: 100%;
    background: hsl(var(--commonColor-h), var(--commonColor-s), 15%);
}

.pop-up-div > button{
    background: hsl(var(--commonColor-h), var(--commonColor-s), 15%);
    color: white;
    width: 100%;
    margin-top: 16px;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 17px;
}